html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: #dedede url('/images/pattern.png') left top repeat;
}

h1 {
    margin-left: 15px;
    text-shadow: 0 1px 1px #fff;
}

#container {
    min-height: 100%;
    position: relative;
}

#page {
    min-height: 100%;
    padding-bottom: 70px;
    overflow: hidden;
}

.line {
    border-bottom: 1px solid #888;
    width: 95%;
    margin: 10px auto;
    clear: both;
    
}

.upload-block, .latest-block {
    margin: 0 auto;
    background-color: #eee;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}

.upload-block {
    width: 50%;
}

.latest-block {
    width: 85%;
    margin-bottom: 30px;

}

.title {
    font-size: 22px;
    text-align: center;
}

.buttons {
    text-align: center;
    margin: 10px 0;
}

.buttons div {
    display: inline-block;
    font-size: 45px;
    padding: 0px 20px;
    width: 90px;
    overflow: hidden;
    height: 66px;
}

.buttons .computer input[type="file"] {
    margin-top: -66px;
    margin-left: -21px;
    height: 67px;
    width: 90px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity:0);
}

.internet-input {
    text-align: center;
}

.internet-input input {
    width: 70%;
    display: inline-block;
}

.internet-input button {
    width: 25%;
    height: 35px;
}

.internet-input button i, .save-block button i {
    margin-right: 5px;
}

.image-block {
    text-align: center;
}

.image-block div {
    display: inline;
    margin: 5px;
}

.original img, .preview img {
    width: 40%;
    box-shadow: 0px 0px 3px #000;
}

@-webkit-keyframes loading {
    from { opacity: 1; }
    to { opacity: .3; }
}
@keyframes loading {
    from { opacity: 1; }
    to { opacity: .3; }
}
img.loading {
    animation: loading 1s infinite linear;
    animation-direction: alternate;
    -webkit-animation: loading 1s infinite linear;
    -webkit-animation-direction: alternate;
}

.arrow {
    font-size: 35px;
    margin-right: -4px!important;
}

.filters {
    margin: 10px 0;
    text-align: center;
}

.filters .btn-primary.active {
    background-color: #008cba;
    border-color: #0079a1;
    opacity: 0.65;
}

.filters .btn-warning.active {
    background-color: #e99002;
    border-color: #d08002;
    opacity: 0.65;
}

.save-block {
    text-align: center;
    margin-top: 20px;
}

.clear {
    clear: both;
}

.margin-20 {
    margin: 20px;
}

.images {
    text-align: center;
    max-height: 400px;
    overflow: hidden;
    width: 100%;
}

.images .image {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 5px;
    cursor: pointer;
    /*border: 3px solid #fff;*/
    box-shadow: 0 0 3px #000;
}

.images .image img {
    opacity: .7;
    transition: opacity 100ms linear;
}
.images .image:hover img {
    opacity: 1;
}

.enter-animation {
    opacity: 1;
    position: relative;
    transition: left 400ms ease-out;
    transition-property: left, opacity;
}

.enter-animation.created {
    left: -30px;
    opacity: 0!important;
}

.footer {
    background-color: #ddd;
    box-shadow: 0px -3px 7px rgba(0,0,0,0.3);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;
}

.footer .content {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    color: #aaa;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

.footer .content .author {
    float: left;
    line-height: 36px;
}

.footer .content .author a {
    color: #888;
    text-decoration: none;
}
.footer .content .author a:hover {
    border-bottom: 1px dashed #888;
    color: #666;
}

.footer .content .icons {
    float: right;
    margin-top: 4px;
}

.footer .content .icons i {
    margin-right: 10px;
}

.footer .content .icons a {
    text-decoration: none;
    color: #888;
}

.footer .content .icons a:hover {
    color: #666;
}

.images .image:hover .like, .like.show {
    opacity: 1;
}

.like {
    position: absolute;
    right: 0;
    top: 0;
    color: #cecece;
    font-size: 20px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px;
    border-radius: 0 0 0 5px;
    text-shadow: 0px 1px 3px #000;
    transition: all 100ms linear;
}
.like.active {
    color: #F54949;
}

.sort-by {
    text-align: center;
    margin: 10px 0;
}